@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{

    font-family: 'Roboto', sans-serif;
}

.titel{
    font-size: 50px;
    outline: auto;
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

table{

    margin: 30px;
    width: calc(100% - 60px);
}

.cust-panel{

    margin: 30px;
}

.custom-btn{
    margin-left: 30px;
}

#text01{

    margin: 30px;
}